#top nav {
  padding: 20px 0;
}

#top_menu .nav-item .nav-link {
    align-items: center;
    color: #000;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: initial;
    white-space: nowrap;
    transition: all .5s ease;
    padding: 0px 20px;
}

.navbar-light .btn-primary:hover {
  background-color: transparent;
}

header .navbar-brand.logo img {
  min-height: 67px;
}

.or-header-right {
  display: flex;
  .header-cart, .header-user {
    width: 60px;
  }
  .header-cart img {
    width: 25px;
    height: 25px;
  }
  .header-user img {
    width: 31px;
    height: 31px;
  }
  .header-cart {
    margin-right: 5px;
  }
  .header-search {
    margin-right: 25px;
    position: relative;
    width: 260px;
    .oe_search_button {
      font-size: 16px;
      color: #2159A3;
    }
    .o_wsale_products_searchbar_form {
      top: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      > .input-group {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        border-radius: 8px;
        height: 37px;
        background-color: transparent;
        border: 1px solid #efefef;
        input:focus {
            outline: none;
          }
        input, button {
          border:none;
          background: transparent;
        }
        input {
          font-style: italic;
          font-size: 14px;
          line-height: 37px;
          padding-top: 0;
          padding-bottom: 0;
        }
        button {
          color: #6E7F8D;
          padding-left: 17px;
          padding-top: 3px;
        }
      }
    }

  }
  .my_cart_quantity {
    font-size: 70%;
    margin-left: -4px
  }
}
#top_menu_container {
  .navbar-brand.logo {
    margin-right: 1rem !important;
  }
  #top_menu_collapse .nav-item .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}